.myBG {
    height: 100vh;
    background: url("../assets/image/BG/bioskop_169.jpeg");
    background-size: cover;
}

.intro {
    height: 300px;
    justify-content: end;
    text-align: end;

}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}


.trending {

    height: auto;
    background: url("../assets/image/BG/th.jpeg");
    background-size: cover;
    
}
.superhero {

    height: auto;
    background: url("../assets/image/BG/th.jpeg");
    background-size: cover;
    
}


.movieWrapper {

}

.movieImage {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.images {
    height: 300px;
}
